@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(../fonts/bootstrap/glyphicons-halflings-regular.eot);
  src: url(../fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix) format("embedded-opentype"), url(../fonts/bootstrap/glyphicons-halflings-regular.woff2) format("woff2"), url(../fonts/bootstrap/glyphicons-halflings-regular.woff) format("woff"), url(../fonts/bootstrap/glyphicons-halflings-regular.ttf) format("truetype"), url(../fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format("svg");
}



html{
	body{
		overflow-x: hidden;
		font-family: 'museo-sans';
		padding-top: 50px;
		.home-text{
			text-align: center;
			margin-top: 40px;
			margin-bottom: 40px;
			font-size: 16px;
			color: #555;
		}
		.navbar-nav{
			@media (screen and min-width: 768px){
				float:right;
			}
		}
		nav{
			padding-top: 15px;
			padding-bottom: 15px;
			.icon-bar{
				background-color: #888;
			}
			background-color: #fff;
			box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
			div{
				ul{
					li{
						a{
							color: #736C6A;
						}
						a:hover{
							color: #736C6A;
						}
					}
				}
			}
		}
		.link-box{
			position: relative;
			padding-right: 15px;
			padding-left: 15px;
			@media screen and (max-width: 767px){
				margin-bottom: 40px;
			}
			a{
				img{
					margin: auto;
					opacity: 0.85;
					transition: opacity 0.2s;
				}
				img:hover{
					opacity: 1;
					transition: opacity 0.2s;
				}
				
				.pic-text{
					text-align: center;
					padding: 5px 0;
					color: #fff;
					background-color: rgba(0,0,0,0.8);
					position: absolute;
					bottom:0;
					left: 15px;
					right: 15px;
					margin: auto;
					@media screen and (min-width: 1199px){
						width: 300px;
					}
					@media screen and (min-width: 991px) and (max-width: 1199px){
						width: 293.33px;
					}
					@media screen and (min-width: 767px) and (max-width 990px){
						width: 219.984px;
					}
					@media screen and (max-width: 767px){
						width: 300px;
					}
				}
			}
		}
		.navbar-brand{
			color: $black;
		}
	}
}
.placeholder-fill{
	width: 100%;
}
.index-header{
	background-image: url('../images/banners/home.jpg');
}
.contact-header{
	background-image: url('../images/banners/contact.jpg');
}
.about-header{
	background-image: url('../images/banners/about.jpg');
}
.ffs-header{
	background-image: url('../images/banners/flowers_for_sale.jpg');
}
.wf-header{
	background-image: url('../images/banners/weddings.jpg');
}
.header-image-row{
	background-size: cover;
	background-position: top;
	width: 100%;
	height: 400px;
	@media(screen and max-width: $small-screen){
		height: 250px;
	}
	@media screen and (min-width: 1199px){
		height: 550px;
	}
}
.sale-boxes{
	margin-top: 40px;
	.sale-box-cont{
		.sale-box-text{
			min-height: 400px;
			background-color: $grey;
			h1{
				text-align: center;
				font-size: 1.8em;
				font-weight: bold;
				padding-top: 20px;
				text-transform: uppercase;
			}
			p{
				font-size: 1.3em;
				text-align: justify;
				margin-bottom: 40px;
			}
		}
		.sale-box-img{
			height: 400px;
			@media(screen and max-width: 767px){
				width: 100%;
			}
		}
		.cut-flowers{
			background: url('../images/garden_lovers.jpg') center center / cover no-repeat;
		}
		.bereavement{
			background: url('../images/bereavement.jpg') center center / cover no-repeat;
		}
		.gift-bouquets{
			background: url('../images/gift_bouquets.jpg') center center / cover no-repeat;
		}
		.event-flowers{
			background: url('../images/event_flowers.jpg') center center / cover no-repeat;
		}
		.flowers-for-florists{
			background: url('../images/flowers_for_florists.jpg') center center / cover no-repeat;
		}
	}
}
.footer{
	img{
		min-height: 37px;
		min-width: 37px;
		margin: auto;
	}
	margin-top: 40px;
	margin-bottom: 0 !important;
	border-radius: 0;
	p{
		position:absolute;
		bottom: -100px;
		margin-left: -140px; 
	}
	@media(screen and max-width: $small-screen){
		//Styling for mobiles
		.social-cont{
			margin: 0 8% !important;
		}
		img{
			margin: auto;
		}
		p{
			text-align: center;
			margin: auto;
			padding: 30px 0;
			position: initial;
		}
	}
}
.wedding-text-1{
	text-align: justify;
	padding: 10px 20px;
	margin: 20px 0;
	h1{
		text-align:center;
	}
	.first-p{
		font-weight: bold;
		color: #4a4a4a;
	}
	p{
		margin-top: 10px;
		font-size: 18px;
	}
	@media(screen and max-height: $small-screen){
		text-align: justify;
	}
}
.about-text-1{
	padding: 10px 20px;
	margin: 20px 0;
	h1{
		text-align:center;
	}
	.first-p{
		font-weight: bold;
		color: #4a4a4a;
	}
	p{
		margin-top: 10px;
		font-size: 18px;
	}
	@media(screen and max-height: $small-screen){
		text-align: justify;
	}
}
.about-images{
	margin-top: 30px;
	.fl{
		float: left;
	}
	.fr{
		float: right;
	}
	img{
		margin: auto;
	}
}
.about-text-2{
	margin: 20px 0;
	p{
		font-size: 18px;
	}
	@media(screen and max-width: $small-screen){
		text-align: justify;
	}
}
.row{
	.ch{
		text-align: center;
	}
	.cr.address{
		margin-top: 20px;
	}
	.cr{
		text-align: center;
		font-size: 18px;
		.cd{

		}
		.cd.email{
			margin-bottom: 20px;
		}
	}
}
.hidden-small{
	@media(screen and min-width: 767px){
		display: none;
	}
}
.hidden-large{
	@media(screen and max-height: 767px){
		display: none;
	}
}